* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: fixed;
    box-shadow: 1px 1px 10px rgb(101, 101, 43);
    border-top: 3px solid black;
}

.top-left-detalis ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 89%;

}

.top-left-detalis ul li {
    padding: 5px 5px 0px 8px;
    font-size: 12px;
}

.top-left-detalis a {
    text-decoration: none;
    color: black;
}

.top-left-detalis li button {
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
}

.logo {
    width: 130px;
    display: inline-block;
    margin: 4px 0px 0px 165px;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    width: 89%;
    margin-bottom: 5px;
}

.bottom-right-detalis {
    text-align: center;

}

.bottom-right-detalis ul>li {
    display: inline-block;
    margin: 0px 15px 0px 15px;
}

.bottom-right-detalis ul li a {
    text-decoration: none;
    color: black;
}

.bold-hover:hover {
    color: #2c4152;
    font-weight: 900;
}
.dropdown {
    display: none;
    position: absolute;
    border: 1px solid black;
    width: 120px;
    height: 200px;
    
}

.dropdown ul li:hover{
    display: block;
    line-height: 1.2;
    border-bottom: 1px solid black;
    color: white;
    
}

.menu:hover .dropdown {
    display: block;
    background-color: thistle;
    line-height: 1.2;
    border-bottom: 1px solid black;
    
}

.menu:hover .dropdown-women {
    display: block;
    background-color: rgb(255, 210, 205);
    color: black;
}

.menu:hover .dropdown-kids {
    display: block;
    background-color: cadetblue;
    color: black;
}

.menu:hover .dropdown-indie {
    display: block;
    background-color: aquamarine;
    color: black;
}

.menu:hover .dropdown-home-kitchen {
    display: block;
    background-color: thistle;
    color: black;
}
.search{
    position: relative;
}

.search input {
    border-radius: 12px;
    padding: 1px;
    width: 255px;
    background-color: #fffded;
    height: 20px;
       
}
.search i{
    position: absolute;
    right: 13px;
    padding-top: 5px;
}

.whishlist i {
    font-size: 25px;
    margin: 0px 6px 0px 20px;
}

.cart i {
    font-size: 23px;
    margin: 1px 12px 0px 12px;
}
