:root{
    --BRAND_BLUE: #1f80e0;
    --BRAND_RED: #f15151;
    --BRAND_ORANGE: #db882a;
    --BG_GRADIENT_L0: linear-gradient(to bottom, #141b29, #0c111b 300px);
    --BG_GRADIENT_L1: linear-gradient(to bottom, #192133, #111826);
    --BG_GRADIENT_L2: linear-gradient(to bottom, #334366, #334366, #1c2940);
    --CARD_GRADIENT: #030b17;
    --HEADER_COLOR: #121926;
    --BG_COLOR_L0: #0c111b;
    --BG_COLOR_L1: #192133;
    --BG_COLOR_L2: #334366;
    --BG_COLOR_L3: rgba(144, 153, 153, 0.1);
    --BG_COLOR_L4: #1b1f20;
    --BORDER_COLOR_L0: #2e3333;
    --TEXT_COLOR_L0: #fff;
    --TEXT_COLOR_L1: rgba(255, 255, 255, 0.8);
    --TEXT_COLOR_L2: rgba(255, 255, 255, 0.6);
    --TEXT_COLOR_L3: #dadada;
    --TEXT_COLOR_L4: #909999;
    --TEXT_COLOR_L5: #f9f9f9;
    --TEXT_LINK_COLOR: #1f80e0;
    --TEXT_BTN_COLOR: #1f80e0;
}
.col{
    /* background-color:var(--BG_COLOR_L1) ; */
}
.col h3{
    width: 50%;
    margin: 40px auto;
    /* color: var(--TEXT_COLOR_L6); */
}
.box{
    width: 100%;
    max-width: 880px;
    /* height: 80vh; */
    margin: 0 auto;
    background: var(--BG_GRADIENT_L1);
    padding: 0 50px 20px;
    border-radius: 8px;
    /* -webkit-box-shadow: 0 -80px 100px 0 #0c111b; */
    /* box-shadow: 0 -80px 100px 0 #0c111b; */
    display: -webkit-box;
}
/* .super,.premium{
    width: 23%;
    margin: 20px 20px 0px 20px;
    color: var(--TEXT_COLOR_L2);
} */
table{
    width: 100%;
    color: var(--TEXT_COLOR_L3);
    
    /* margin: 0px 20px; */
}

table i{
    display: inlblock;
    font-size: 20px;
    text-align: center;
    /* overflow-x: scroll; */
}

tr{
    text-align: left;
}
td{
    padding: 15px 0px 15px 5px;
    /* line-height: 0px; */
    text-align: center;    
}
.movie{
    font-size: 14px;
    color: var(--TEXT_BTN_COLOR);
}
.lef{    
    /* padding: 0px 15px 0px -15px; */
    text-align: left;    
}
.mid{
    font-size: 18px;
    font-weight: 600;
    /* padding: 10px 18px 10px 0px; */
}
.back-chnge{
    background-color: var(--BG_COLOR_L2);
    color: var(--TEXT_COLOR_L1);
    font-weight: 600;
}
.clr-chng{
    border-radius: 10px 10px 0px 0px;
    background-color: var(--BG_COLOR_L2);
    /* border-radius: 10px; */
    color: yellow;
    /* padding:0px 0px 2px 0px ; */
}
.bor-rad{
    border-radius: 0px 0px 10px 10px;
}