* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline : 2px solid; */
}

@font-face {
    font-family: Baskerville;
    src: url(../font/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Barlow;
    src: url(../font/Barlow/Barlow-Black.ttf);
}

@font-face {
    font-family: blackjack;
    src: url(../font/black_jack/BLACKJAR.TTF);
}

a {
    text-decoration: none;
}

body {
    background-color: #fefdfc;
}

.up-case {
    text-transform: uppercase;
}

.m-aut {
    margin: 0px auto;
}

.poi-rel {
    position: relative;
}

.poi-ab {
    position: absolute;
}

.container {
    /* width: 100%; */
    width: 1280px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    width: 100%;
    /* justify-content: center; */
}

.logo {
    width: 100%;
    text-align: center;
}

.logo h2 {
    font-size: 67px;
    letter-spacing: 9px;
    line-height: 81px;
    color: #cb9e61;
    font-family: Baskerville
}

.logo p {
    font-size: 21px;
    letter-spacing: 2px;
    line-height: 26px;
    color: #929496;
    font-family: Baskerville;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0px;
}

.navbar ul {
    list-style: none;

}

.navbar ul li {
    display: inline-block;
    opacity: 0.902;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    font-family: Montserrat;
    margin: 8px 20px;
}

.navbar ul li a {
    font-weight: 900;
    color: #8c8c8c;
    position: relative;


    /* opacity: 0; */
}

.navbar ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    border-bottom: 3px solid #cb9e61;
    box-shadow: 3px 3px 3px #cb9e61;
    position: absolute;
    left: -0%;
    top: 100%;
    transform: translate(1%);
    transition: width 0.4s;

}


.navbar ul li a:hover::after {
    width: 100%;
}

.navbar2 {
    margin: 0px 20px
}

.navbar2::before {
    content: "";
    border-left: 2px solid #8c8c8c;
    margin: 0px 10px;
}

.navbar2 li a {
    margin: 0px 5px;
}


.free-ship {
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #cb9e61;
    font-family: Baskerville;
    text-align: center;
    margin: 10px 0px;
}

.free-ship p {
    display: inline-block;
    margin: 0px 10px;
}

.main-img {
    width: 100%;
}

.email {
    width: 100%;
    bottom: 50px;
    right: 50px;
    text-align: right;

}

::placeholder {
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 0px 5px 5px;
}

.email input {
    display: block;
    margin-left: auto;
    padding: 3px 0px;
}

.email a {
    display: inline-block;
    background-color: #cb9e61;
    color: white;
    padding: 5px 52px;
    margin: 15px 0px;
}

.texture-up {
    width: 56%;
    top: -33px;
    right: -54px;
    opacity: 0.8;
}

.texture-down {
    bottom: -170px;
    right: -115px;
    z-index: -1;
}

/* section2 */
.col {
    width: 100%;
}

.tips {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.tips p {
    font-size: 36px;
    line-height: 41px;
    color: #cb9e61;
    font-family: Baskerville;
}

.imagegallery {
    width: 700px;
    columns: 3;
    gap: 15px;
}

.img {
    width: 100%;
}

.img img {
    width: 100%;
    margin: 20px 0px;
    transition: all 0.5s ease-in-out;

}

.img :hover {
    transform: translateX(2%);
}

.pic-info {
    background-color: #8c8c8c;
    top: 5px;
}

.pic-info p {
    width: 223px;
    font-size: 10px;
    color: #ffffff;
    font-weight: 500;
    font-family: Barlow;
}


.lorem {
    width: 100%;
    text-align: center;
}

.lorem p {
    width: 680px;
    font-size: 10px;
    color: #8c8c8c;
    font-weight: 500;
    font-family: Barlow;
    margin: 0 auto;
}

/* section3 */

.col-laptop {
    margin: 30px 0px;
}

.texture-white {
    width: 70%;
    top: -65px;
    left: -3px;
}

.tree {
    bottom: -25px;
    right: -140px;
}

.col-interior-des {
    width: 300px;
    font-size: 30px;
    font-family: Baskerville;
}

.col-interior-des :nth-child(1) {
    color: #cb9e61;
    margin: 50px 30px;
}

.col-interior-des :nth-child(2) {
    color: #8c8c8c;
    margin: 50px 30px;
}

.col-interior-des a {
    display: inline-block;
    background-color: #cb9e61;
    color: #ffffff;
    font-size: 19px;
    line-height: 22px;
    font-family: Baskerville;
    padding: 5px 10px;
    margin: 10px 30px;
}

.col-interior-des span {
    display: block;
    font-size: 30px;
    line-height: 34px;
    color: #808183;
    font-weight: 800;
    font-family: blackjack;
    margin: 60px 30px;
}

/* section4 */

.col-do-u-want {
    width: 820px;
}

.news {
    font-size: 25px;
    font-family: Baskerville;
    text-align: right;
    width: 500px;
    margin-left: auto;

}

.news :nth-child(1) {
    color: #cb9e61;
    margin: 20px 25px;
}

.news :nth-child(2) {
    color: #8c8c8c;
    margin: 20px 25px;
}

.form {
    width: 440px;
    margin-left: auto;
}

.form input {
    display: block;
    width: 380px;
    padding: 5px;
    margin: 5px 25px;
}

.form form a {
    display: inline-block;
    background-color: #cb9e61;
    color: white;
    padding: 10px 160px;
    margin: 5px 25px;
}

.form p {
    /* width: 50px; */
    font-size: 12px;
    color: #808183;
    font-weight: 500;
    font-family: Barlow;
    margin: 5px 25px;
}

.texture-left {
    top: -180px;
    left: -150px;
    z-index: -1;
    padding: 100px 0px;
}

.texture-left img {
    width: 100%;
    /* height: max-content; */
    opacity: 0.5;
}

.flower img {
    width: 100%;
}

/* section5 */

.sec5 {
    width: 100%;
    height: 1100px;
}

.right-texure {
    width: 80%;
    bottom: 110px;
    right: -115px;
    z-index: -1;
    opacity: 0.6;
}

.season {
    width: 100%;
    margin: 40px 0px;
    text-align: center;
}

.season p {
    font-size: 57px;
    letter-spacing: 5px;
    line-height: 69px;
    color: #cb9e61;
    font-family: Baskerville;
}

.decor {
    text-align: end;
    width: 1000px;
    margin-left: auto;
    bottom: -40px;
    left: -45px;
}

.bed {
    width: 63%;
    /* text-align: center; */
    margin-left: auto;
    top: -160px;
}

.rect-ang {
    left: -200px;
    bottom: 120px;
}

.elegant p {
    width: 60%;
    font-size: 33px;
    color: #cb9e61;
    font-family: Baskerville;
    margin: 10px 20px;
}

.pillow {
    width: 100%;
    left: 70px;
    bottom: 280px;
}

.leaf {
    z-index: -1;
    left: -50px;
}

/* section6 */

.do-it-self {
    width: 35%;
    font-size: 35px;
    font-family: Baskerville;
    text-align: right;
}

.do-it-self :nth-child(1) {
    color: #cb9e61;
    margin: 40px 0px;
}

.do-it-self :nth-child(2) {
    color: #8c8c8c;
    margin: 40px 0px;
}

.do-it-self span {
    display: block;
    color: #8c8c8c;
    font-family: blackjack;
    margin: 40px 0px;
}

.col-wall-paint {
    margin: 10px 0px 50px 0px;
}

.ganesh {
    bottom: -80px;
    right: 60px;
}

.color-shape {
    right: -180px;
    bottom: -50px;
    z-index: -1;
}

.st-rect {
    top: 05px;
}

.plant {
    left: 10px;
    bottom: -90px;
}

.balls {
    right: -5px;
    top: 180px;
}

.color-ball1 {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #cca77c;
    border: 3px solid #ffffff;
}

.color-ball2 {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #daccb6;
    border: 3px solid #ffffff;

}

.color-ball3 {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #8d8b8a;
    border: 3px solid #ffffff;
}

/* section7 */
.col-bg {
    width: 100%;
    /* height: 120vh; */
    background-image: url(../image/kitchen.png);
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
    margin: 80px 0px;
}

.tree-bottam {
    bottom: -80px;
    right: 0px;
    z-index: -1;
}

.white-tx {
    top: -100px;
    left: -100px;
    z-index: -1;
    opacity: 0.7;
}

.gift {
    z-index: 10;
}

.gift p {
    width: 600px;
    margin: 0px auto;
    font-size: 30px;
    color: #cb9e61;
    font-family: Baskerville;
    text-align: center;
}

.col-card {
    opacity: 0.812;
    width: 544px;
    background-color: #ffffff;
    margin: 100px auto;
    text-align: center;


}

.form2 {
    margin: 0 auto;
    padding: 40px 0px;
}

.form2 input {
    width: 70%;
    margin: 10px auto;
    padding: 5px 10px;
}

.form2 ::placeholder {
    text-transform: uppercase;
}

.form2 a {
    display: inline-block;
    background-color: #cb9e61;
    color: #ffffff;
    padding: 10px 135px;
    font-size: 21px;
    letter-spacing: 2px;
    line-height: 23px;
    font-family: Baskerville;
}

.ipsum {
    margin: 30px 0px;
}

.ipsum p {
    width: 70%;
    font-size: 12px;
    color: #808183;
    font-weight: 500;
    font-family: Barlow;
    text-align: left;
}

/* section8 */
.col-sec8 {
    width: auto;
}

.r-side-tx {
    width: 40%;
    height: 600px;
    right: -115px;
    top: 50px;
}

.ganesh2 {
    width: 80%;
    top: 80px;
    right: -400px;
}

.book-shell {
    top: 405px;
    right: -330px;
}

.rect-bold {
    width: 11%;
    bottom: 2px;
    right: -70px;
}

.hours-24 {
    display: flex;
    align-items: center;
    color: #cb9e61;
    font-family: Baskerville;
    right: -600px;
    bottom: 10px;
}

.hours-24 h3 {
    font-size: 145px;
    letter-spacing: -7px;
    line-height: 226px;
}

.left-info {
    margin: 0px 5px;
}

.left-info p {
    font-size: 48px;
    letter-spacing: 3px;
    /* line-height: 79px; */
}

.left-info span {
    display: inline-block;
    width: 250px;
    font-size: 25px;
    /* line-height: 44px; */

}

.bg-footer {
    background-color: #929496;
    margin: 50px auto;
}
.col-33{
    width: 33%;
}
.list {

    padding: 0px 70px;
    margin: 50px 0px;
}

.list ul {
    width: 100%;
    list-style: none;
    margin: 20px 0px;
}

.list ul li {
    margin: 10px 0px;
    text-align: right;
}

.list ul a {
    color: white;
    font-family: Montserrat;

}

.list ul li a:hover {
    font-weight: 800;
}

.sign-up {
    margin: 50px 0px;
}

.sign-up p {
    margin: 0px 25px;
    font-size: 20px;
    color: #ffffff;
    font-family: Baskerville;

}

.form3 {
    width: 100%;
}

.form3 input {
    display: block;
    width: 325px;
    padding: 5px;
    margin: 5px 25px;
}

.form3 a {
    display: inline-block;
    background-color: #cb9e61;
    color: white;
    padding: 10px 130px;
    margin: 5px 25px;
}

.form3 a:hover {
    background-color: crimson;
    font-weight: 800;
    transform: translateY(5%);

}

.form3 p {
    width: 80%;
    font-size: 8px;
    color: #ffffff;
    font-weight: 500;
    font-family: Barlow;
    margin: 5px 25px;
}

.solution {
    color: #ffffff;
    font-family: Baskerville;
    margin: 50px 0px;
}

.solution p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px;
    margin: 10px 0px;
}

.solution h3 {
    font-size: 57px;
    letter-spacing: 8px;
    line-height: 70px;
    margin: 10px 0px;
}

.solution span {
    display: block;
    font-size: 30px;
    line-height: 37px;
    font-weight: 800;
    font-family: BlackJack;
    margin: 30px 0px;
}