@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

a {
    text-decoration: none;
}

.up-case {
    text-transform: uppercase;
}

.m-auto {
    margin: 0 auto;
}

.background {
    width: 100%;
    height: 120vh;
    background-image: url(../image/Bg\ image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    /* filter: grayscale(1); */
    opacity: 0.85;
    /* position: absolute;
    z-index: -1; */

}

.container {
    width: 100%;
}

nav {
    padding-top: 18px;
}

.row {
    width: 100%;
    background-color: black;
    height: 5vh;
}

.col {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    /* margin-top: auto ; */
}

.img img {
    width: 30px;
    height: auto;
    margin-top: 5px;
}

.text {
    color: white;
    display: block;
    font-family: Raleway;
    font-size: 15px;
}

.text :nth-child(2) {
    color: white;
    display: block;
    font-family: Raleway;
    font-size: 8px;

}

.r-widght {
    margin-left: auto;
}

.r-widght ul {
    display: flex;
    list-style: none;
}

.r-widght ul li a {
    color: rgb(29, 195, 228);
    margin-right: 25px;
    font-family: Raleway;
}

.sport {
    width: 100%;
    margin-top: 180px;

}

.sport h3 {
    text-align: center;
    font-size: 175px;
    color: transparent;
    -webkit-text-stroke: #f6f6f6;
    font-family: Raleway;
    font-weight: 900;
    text-shadow: 1px 2px #f6f6f6;


}

.small-text {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-family: Raleway;
    font-size: 12px;
    color: #ffffff;
}


.button {
    width: 700px;
    margin-top: 100px;
}

.button button {
    padding: 10px 45px 10px 45px;
    border-radius: 15px;
    cursor: pointer;
    font-family: Roboto;
    color: rgb(29, 195, 228);
    font-weight: 700;
}

.col2 {
    height: 50vh;
    background-color: black;
    padding-top: 20vh;
}

.detalis {
    width: 700px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: rgb(29, 195, 228);
    font-family: Raleway;
}

.detalis h3 {
    font-size: 1.3em;
    font-weight: 800;
}

.detalis p {
    font-size: 12px;
}

.sec3 {
    height: 40vh;
    background-color: rgb(40, 39, 39);
    display: flex;
}

.we-about {
    width: 350px;
    color: #ffffff;
    font-family: Raleway;
}

.we-about h3 {
    font-size: 19px;
    line-height: 33px;
    font-weight: 700;
}

.we-about span {
    display: inline-block;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 20px;
}

.sec4 {
    width: 100%;
    /* height: 120vh; */
    background-image: url(../image/Bg\ image2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
}

.prio-first {
    width: 1000px;
    text-align: center;
    margin-top: 50px;
    color: rgb(29, 195, 228)
}

.prio-first h3 {
    font-size: 29px;
    font-weight: 700;
    font-family: Roboto;
}

.prio-first p {
    font-size: 15px;
    line-height: 33px;
    font-weight: 500;
    font-family: Raleway;
}

.card {
    width: 25%;
    height: 310px;
    background-color: rgba(10, 10, 10, 0.622);
    box-shadow: 20px 20px 10px rgb(0, 0, 0, 0);
    text-align: center;
    margin: 30px 50px;
    color: #ffffff;
}

.card h3 {
    font-size: 17px;
    font-weight: 700;
    font-family: Roboto;
    margin: 30px 0px;

}

.card p {
    width: 200px;
    margin: 70px auto;
}

.ca-det {
    font-size: 14px;
    font-weight: 200;
    font-family: Lora;
}

.ac-man {
    margin-top: 50px;
}

.ac-man h5 {
    font-size: 15px;
    font-weight: 700;
    font-family: Roboto;

}

.ac-man span {
    font-size: 14px;
    /* font-weight: 200; */
    font-family: Lora;
}

.sec5 {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.do-v-do {
    width: 550px;
    color: rgb(29, 195, 228);
    text-align: center;
}

.do-v-do h3 {
    font-size: 29px;
    font-weight: 500;
    font-family: Raleway;
    margin-top: 50px;
}

.do-v-do p {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    font-family: Raleway;
    margin-top: 20px;
s
}
.line{
    margin-top: 60px;
}
.line span {
    display: inline-block;
    font-size: 17px;
    color: rgb(29, 195, 228);
    font-weight: 500;
    font-family: Raleway;
    text-transform: capitalize;
    padding: 0px 20px;
}
.col-33{
    width: 20%;
   background-color: #f6f6f6;
   margin: 0px 50px;
   text-align: center;
}

.col-33 p{
    width: 200px;
    margin: 70px auto;
}
.sp-det{
    font-size: 14px;
    font-weight: 200;
    font-family: Lora;
}