*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: Ubuntu ;
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
.background{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    
}
.clip-path{
    width: 100%;
    height: 100vh;
    background-image:url(../image/Shape\ \(2\).png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.col{
    width: 100%;
    display: flex;
    padding-top: 10px;
}
.logo img{
    width: 100px;
    height: 40px;
    align-items: center;
}
.r-widght{
    width: 100%;
    
}
.r-widght ul{
    display: flex;
    list-style:none;
    margin-left: auto;
    align-items: center;
}
.r-widght ul li a{
    color: #ffff;
    font-family: Ubuntu;
    margin-right: 35px;
} 
@font-face {
    font-family:Lato ;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
.col2{
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
}
.head{
    color: #ffff;
    width: 500px;
    font-family: Ubuntu ;
    font-size: 55px;
    font-weight: 700;
}
.small{
    color: #ffff;
    width: 350px;
    font-family:Lato;
    font-size: 20px;


}