@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

body {
  font-family: 'Poppins' !important;
  background-color: #F5F8F8 !important;
}

/* same for all pages  */
p,
ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main-wrapper {
  padding-left: 282px;
  padding-top: 70px;
}
.container {
  padding: 0 30px !important;
}
.page-title {
  padding: 30px 0;
}
.page-title .page-heading {
  font-size: 1.15rem;
}
/* /////////////////////////// */


/* <-----RiteekLoginpage-----> */
/* <---inputs----> */
.form-control.form-control-solid {
  font-size: 16px;
}

.form-control.form-control-solid.active,
.form-control.form-control-solid.focus,
.form-control.form-control-solid:active,
.form-control.form-control-solid:focus {
  background-color: #eef3f7 !important;
  border-color: #eef3f7 !important;
  color: #5e6278 !important;
  outline: none !important;
  box-shadow: none;
  /* transition: color 0.2s ease background-color 0.2s ease; */
}

.bg-login {
  background-color: #eff6ff;
  min-height: 100vh;
}

.bg {
  background-color: #0b3856;
}

.p-15 {
  padding: 2rem 0;
}

.p-btn{
  padding: 1.5rem 0;
}
.login_page-form{
  width: 80%;
}
/* <-----Riteekslidenav-----> */
.nav-logo img {
  width: 80%;
}

.nav-wapper {
  width: 280px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  /* z-index: ; */
  background-color: #fff;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Styles for screens larger than 992px */
.nav-wrapper {
  width: 280px;
  height: 100%;
  position: fixed;
  left: 0;
  overflow-y: auto;
  z-index: 90;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #fff;
  transition: left 0.3s;
}

#menu-button {
  display:none;
  position: fixed; 
  transition: left 0.3s;
}

#close-button{
  display:none;
  position: fixed; 
  transition: left 0.3s;

}

.nav-links{
 margin: 0 0 60px 0;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

.nav-links li {
  font-size: 17px;
  padding: 10px 0px;
  
}

.nav-links li i {
  font-size: 20px;
}

.nav-wrapper::-webkit-scrollbar {
  display: none;
}

.icon_size {
  font-size: 25px;
  margin: 5px 10px;
  
}

.bg-nav {
  box-shadow: 2px 2px 2px #eef3f7;
}

.drop-down {
  display: none;
  position: relative;
}

.drop-down ul li a {
  display: inline-block;

}

.abc {
  height: 100%;
  padding: 0px 20px;
}

.active li {
  color: #2449ee;
}

.nav-wapper li:hover {
  color: #2449ee;
}

.admin_detalis {
  border-top: 1px solid #F5F8F8;
  position: fixed;
  z-index: 100;
  bottom: 0;
  background-color: #fffF;
}

.rounded_img-sidenav {
  width: 30%;
}

.rounded_img-sidenav img {
  width: 90%;
  border-radius: 50%;
}

/* <---Riteek-dasboard---> */
.main-wrapper {
  padding-left: 282px;
  padding-top: 70px;
}
/* <-----------------------------------> */


@media screen and (max-width:1200px){
  
}
@media screen and (max-width:992px){
  h4{
    font-size:24px !important;
    margin-bottom: 0rem;
  }
  .login_page-form-wrapper{
    padding: 1rem 0;
    /* height: 100vh; */
  }
  .nav-wrapper {
    left:-280px; /* Initially hidden on smaller screens */
  }
  .open{
    /* to open the slide nav */
    left: 0px; 
  }

  #menu-button {
    z-index: 200;
    display: block;
    top:20px;
    left: 20px;
  }
  #close-button{
    top:20px;
    z-index: 200;
    display: block;
    left: 230px !important;
  }
  .main-wrapper {
    padding-left: 2px;
    padding-top: 70px;
  }
}

@media screen and (max-width:767px) {
  /* <-----logingpage------> */
  h4{
    font-size:18px !important ;
    margin-bottom: 0rem;
  }
  .bg-login {
    min-height:100%;
  }

  .jus-c-cent{
    justify-content: initial !important;
  }
  .logo {
    width: 40%;
  }

  .p-15 {
    padding: 5rem 0;
  }
  .login_page-form-wrapper{
    padding: 50px 0;
    min-height:50vh ;
  }
  
}

@media screen and (max-width:475px) {

  /* <-----logingpage------> */
  .bg-login {
    /* width: 75%; */
    min-height: 100%;
  }
  .w-75{
    width: 100% !important;
  }
  .logo {
    width: 60%;
  }
  .jus-c-cent{
    justify-content: initial !important;
  }
  .login_page-form-wrapper{
    padding: 50px 0;
    /* min-height:80vh ; */
  }
  .login_wrapper{
    height: 100vh;
  }
}

/* <----dashboard-header-Hunain-----> */
.dashbord-header .bg_header {
  box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.05);
}
.fixed-top,.fixed-bottom{
  z-index: 10 !important;  

} 

.dashbord-header-content .rounded-circle {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.rounded-circle .rounded-img {
  width: 30px;
  border-radius: 50%;
}
.dashbord-header-content .menu-icon {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  font-size: 1.6rem;
}
.dashbord-header-content .menu-icon i {
  color: #181c32;
}

.dashbord-footer-content .text-muted {
  color: #d0a407 !important;
}
.dashbord-footer-content {
  font-size: 13px;
}
.dashbord-footer-content .text-dark:hover {
  color: #0071b2 !important;
  transition: color 0.2s ease;
}
.dashbord-header-content .dropdown-toggle::after {
  display: none;
}
.dashbord-header-content .dropdown-menu[data-bs-popper] {
  font-size: 13px;
  border: none;
  left: -140px;
  box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.1);
  padding: 10px 15px;
}
.dashbord-header-content .header-dropdown-items {
  color: #5c5e6c;
}
.dashbord-header-content .header-dropdown-items:active {
  color: #5c5e6c;
  background-color: #f8f9fa;
}
.offCanvas {
  width: 500px !important;
}
.offCanvas .profileImgUpload {
  cursor: pointer;
}
.offCanvas .inputImg {
  display: none;
}
.offCanvas .profileImg {
  border-radius: 50%;
  transition: 0.4s;
  border: 5px solid #cccccc;
  width: 100px;
  height: 100px;
}
.offCanvas .profileImg:hover {
  border: 5px solid #3ca7f7;
}
.mb-10 {
  margin-bottom: 2rem;
}
.form-control {
  background-color: #f5f8fa !important;
  border-color: #f5f8fa !important;
  color: #5e6278 !important;
  /* padding: 0.5rem 1rem !important; */
}
.form-control:focus {
  box-shadow: none !important;
}
.btn-primary {
  background-color: #0b3856 !important;
  border: none !important;
}
.btn-primary:hover {
  background-color: #3295e8 !important;
}
.form-label {
  font-size: 1.05rem;
  font-weight: 500;
  color: #3f4254;
}
/* <--notificationbelll-----/> */
.notification-card {
  border: none !important;
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
  margin-top: 20px;
  padding: 0 10px;
}
.notification-card .notification-card-body {
  margin: 20px 0;
  padding: 30px;
}

