@media screen and (max-width:1200px) {}

@media screen and (max-width:992px) {
    h4 {
        font-size: 24px !important;
        margin-bottom: 0rem;
    }

    .login_page-form-wrapper {
        padding: 1rem 0;
        /* height: 100vh; */
    }

}

@media screen and (max-width:767px) {

    /* <-----logingpage------> */
    h4 {
        font-size: 18px !important;
        margin-bottom: 0rem;
    }

    .bg-login {
        min-height: 100%;
    }

    .jus-c-cent {
        justify-content: initial !important;
    }

    .logo {
        width: 40%;
    }

    .p-15 {
        padding: 5rem 0;
    }

    .login_page-form-wrapper {
        padding: 50px 0;
        min-height: 50vh;
    }

}

@media screen and (max-width:475px) {

    /* <-----logingpage------> */
    .bg-login {
        /* width: 75%; */
        min-height: 100%;
    }

    .w-75 {
        width: 100% !important;
    }

    .logo {
        width: 60%;
    }

    .jus-c-cent {
        justify-content: initial !important;
    }

    .login_page-form-wrapper {
        padding: 50px 0;
        /* min-height:80vh ; */
    }

    .login_wrapper {
        height: 100vh;
    }
}